.movie-card {
  width: 220px;
  background: #1e1e1e;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card-content {
  padding: 10px;
}

.movie-card h3 {
  margin: 5px 0;
}

.movie-card p {
  font-size: 14px;
}

.delete-btn {
  margin-top: 10px;
  padding: 6px 10px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}
